

<div id="container">
    <div class="paragraf">
        <p>
            Bine ai venit !
        </p>
        <p> Te-ai conectat cu contul {{email}} !</p>

        <button (click) = "logout()">Logout</button>
    </div>
    <div class="paragraf">
        <p>
            Istoricul de cautari pentru zboruri
        </p>
        <div id = "istoricZboruri">

        </div>
        
    </div>
    <div class="paragraf">
        <p>
            Istoricul de cautari pentru cazari
        </p>
        <div id = "istoricCautari">

        </div>
        
    </div>

    <!-- <div class="paragraf">
        <p>
            Istoricul vacantelor tale
        </p>
        <div id = "istoricVacante">

        </div>
        
    </div> -->
    <div class="paragraf">
        <p>
           Planifica o vacanta cautand atractii turistice si restaurante
        </p>


        <div id="form-section">
            <form [formGroup]="planificaForm">
                <div class="form-group">
                    <label for="oras">Oras</label>
                    <br>
                    <input type="text" class="form-control" id="oras" formControlName="oras">
                </div>
              
            </form>
            <p></p>
        </div>


        <button (click)="obiective()">Cauta obiective</button>
        <button  (click)="restaurant()">Cauta restaurant</button>
        
    </div>
  

</div>
