<div id="intro">
    <p>
        Înainte de toate, vă recomandăm câteva blogg-uri de călătorie, care vă vor inspira în alegerea unei locații de vacanță!
    </p>
</div>

<div id="blogs-list">
    <mat-action-list>
        <a href="https://aventurescu.ro/"><button mat-flat-buttton mat-list-item class="blogs-list-btn"> Aventurescu </button></a>
        <a href="https://travelzoom.ro/"><button mat-list-item mat-raised-buttton class="blogs-list-btn" > Travel Zoom </button></a>
        <a href="https://lipa-lipa.ro/"><button mat-list-item mat-raised-buttton class="blogs-list-btn"> Lipa Lipa </button></a>
        <a href="https://www.whisperwanderlust.com/ro/"><button mat-list-item mat-raised-buttton class="blogs-list-btn"> Whisper WanderLust </button></a>
    </mat-action-list>
</div>

<div id="top-oferte">
    <p>
        Top 3 vacanțe cu cele mai bune prețuri:
    </p>
</div>

<div id="oferte">
    <a href="https://aventurescu.ro/o-saptamana-de-vara-in-costa-blanca-236-euro-zbor-cazare/"><button mat-flat-button class="oferte-btn"> Oferta 1 </button></a>
    <a href="https://aventurescu.ro/lefkada-in-iulie-185-euro-zbor-cazare-7-nopti/"><button mat-flat-button class="oferte-btn"> Oferta 2 </button></a>
    <a href="https://aventurescu.ro/weekend-de-vara-in-puglia-bijuteria-ascunsa-a-italiei-148-euro-zbor-cazare-3-nopti/"><button mat-flat-button class="oferte-btn"> Oferta 3 </button></a>
</div>

<div id="create-trip-text">
    <p>
        Crează-ți vacanța de vis chiar acum!
    </p>
</div>

<div id="container-filtre-btn">
    <a routerLink="/filters"><button mat-stroked-button id="filtre-btn">Filtre Vacanță</button></a>
</div>
<div id="mesaj_nimic">
    <p> Ne bucuram ca ai ales aplicatia noastra !</p>
    <p> Ne bucuram ca ai ales aplicatia noastra !</p>
    <p> Ne bucuram ca ai ales aplicatia noastra !</p>
    <p> Ne bucuram ca ai ales aplicatia noastra !</p>
</div>