<img src="../../assets/img/logo.png" class="img1" alt="logo">  

<mat-drawer-container class="example-container" autosize>
    <p id = 'bar'>
        <mat-toolbar color=#74A57F>
    
          <button type="button" mat-button (click)="drawer.toggle()">
            <mat-icon>menu</mat-icon>
          </button>
          <span id = 'titlu'>Home</span>
          
        </mat-toolbar>
    </p>
      
      
            
    <mat-drawer #drawer class="example-sidenav" mode="side">
        <button>Forum</button>    
        <button>Forum</button>   
        <button>Forum</button> 
        <button>Forum</button> 
     </mat-drawer>
    
</mat-drawer-container>


